<div class="agileits_header">
  <div class="container" style="width: 80%">
    <div class="w3l_offers">
      <div class="w3ls_logo_products_left">
        <h1><a (click)="goHome()" routerLink="/">THUENHA</a></h1>
      </div>
    </div>
    <div *ngIf="!isLogin">
      <ul class="main-nav nav navbar-nav navbar-right">
        <li><a routerLink="/register" style="margin-right: 10px;color: #fe9126;font-size: 19px"><i class="fa-solid fa-id-card "
                                                                    style="margin-right: 5px"></i> Đăng ký </a></li>
        <li><a routerLink="/login" style="margin-right: 10px;font-size: 19px;color: #fe9126"><i class="fa-solid fa-unlock"
                                                                 style="margin-right: 5px"></i> Đăng nhập</a></li>
      </ul>
    </div>

    <ul class="main-nav nav navbar-nav navbar-right">
      <li class="dropdown" *ngIf="isLogin">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-top: 5px;font-size: 22px;color: #fe9126">{{name}}
          <b class="caret"></b></a>
        <ul class="dropdown-menu multi-column columns-3" style="right:auto;width:245px">
          <div class="row">
            <div class="multi-gd-img">
              <ul class="multi-column-dropdown">
                <a [routerLink]="['/my-shop', id]" style="color: black;font-size: 15px"><i
                  class="fa-solid fa-shop" style="margin-right: 10px;"></i>Bài đăng của tôi</a>
                <hr>
                <a [routerLink]="['/user-details',id]" style="color: black;font-size: 15px"> <i class="fa-solid fa-address-book" style="margin-right: 10px"></i>Thông tin cá nhân</a>
                <hr>
<!--                <a [routerLink]="['/my-bills']" style="color: black;font-size: 15px"><i-->
<!--                  class="fa-solid fa-file-invoice" style="margin-right: 10px"></i>Danh sách hóa đơn</a>-->
<!--                <hr>-->
<!--                <a [routerLink]="['/shop-bills']" style="color: black;font-size: 15px"><i-->
<!--                  class="fa-solid fa-list-check" style="margin-right: 10px"></i>Danh sách đơn đặt hàng</a>-->
<!--                <hr>-->
                <a href="" (click)="logOut()" style="color: black;font-size: 15px"><i
                  class="fa-solid fa-arrow-right-from-bracket"
                  style="margin-right: 10px"></i>Đăng xuất</a>
              </ul>
            </div>

          </div>
        </ul>
      </li>
    </ul>

    <div class="product_list_header" style="margin-top: 12px" *ngIf="isLogin">
<!--      <input type="hidden" name="cmd" value="_cart">-->
<!--      <input type="hidden" name="display" value="1">-->
<!--      <a [routerLink]="['/shop-cart']" class="w3view-cart"><i class="fa fa-cart-arrow-down"-->
<!--                                                               aria-hidden="true" style="color: #fe9126"></i></a>-->
    </div>
    <div class="product_list_header" style="margin-top: 12px" *ngIf="!isLogin">

    </div>
  </div>

  </div>


