<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<app-header></app-header>
<app-navbar></app-navbar>
<br>
<div class="checkout">
  <div class="container">

    <div class="top-brands1">
      <h2 style=" margin-top: -50px;font-size: 40px">Chi Tiết Hóa Đơn</h2>
    </div>
    <div>
      <button [routerLink]="['/my-bills']" style="margin-left: 910px;margin-bottom: 5px" class="btn button-shop-cart">Về danh sách hóa đơn <i class="fa-solid fa-cart-shopping" style="margin-left: 5px"></i></button>
    </div>
    <br>
    <h2 style="">Số lượng sản phẩm trong giỏ hàng <span>{{countProduct}} sản phẩm</span></h2>
    <div class="checkout-right">

      <table class="timetable_sub">
        <thead>
        <tr>
          <th style="font-size: 18px">STT</th>
          <th style="font-size: 18px">Hình ảnh</th>
          <th style="font-size: 18px">Số Lượng</th>
          <th style="font-size: 18px">Tên Sản Phẩm</th>
          <th style="font-size: 18px">Tên Cửa Hàng</th>
          <th style="font-size: 18px">Giá (VNĐ)</th>
        </tr>
        </thead>
        <tr class="rem1" *ngFor="let cart of carts; index as i">
          <td class="invert">{{i+1}}</td>
          <td style="width: 200px" class="invert-image"><img src="{{cart.product.image[0].image}}" alt="" style="border-radius: 5px;border:1px solid white; height:170px;width:200px" class="img-responsive" /></td>
          <td class="invert">


                  <div style="margin-left: 3px; top: -8px; position: relative;" ><p>{{cart.quantity}} </p></div>

          </td>
          <td class="invert">{{cart.product.name}}</td>
          <td class="invert">{{cart.shopId.name}}</td>
          <td class="invert">{{cart.product.price}}</td>
        </tr>
      </table>
    </div>
    <!---728x90--->
    <div class="checkout-left">
      <div class="checkout-left-basket">
        <ul >
          <h2 style="font-size: 25px;width: 900px">Tổng tiền: <i></i> <span >{{totalMoney| currency:' VNĐ ':'symbol':'3.0'}}</span></h2>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


