<app-header></app-header>
<app-navbar></app-navbar>


<br>
<br>
<div class="products" style="width: auto">
  <div class="container" style="width: 80%">
    <div class="agileinfo_single">

      <div class="col-md-4" style=" background-color: white">

        <div class="row">
          <img
            src="{{obj.image[0].image}}" style="width: 600px; height:auto;border-radius: 5px "
            class="img-responsive img-hover"/></div>
        <div class="row">
          <br>
          <carousel >
            <div class="carousel-cell" *ngFor="let img of obj.image">
              <img src="{{img.image}}" style="width: 110%" #hoa class="img-hover">

              <img src="{{img.image}}" style="width: 110%" >
            </div>
          </carousel>
        </div>

        <div class="row">
          <div class="snipcart-item block">

            <div class="snipcart-details1 top_brand_home_details" *ngIf="userId != obj.user.id"
                 style="margin-left: 80px;margin-top: 70px">
<!--              <button type="submit" class="button-shop" name="submit"-->
<!--                      style="font-size: 24px;height: 48px; width: 331px;margin-left: 5px"  data-toggle="modal" data-target="#exampleModalAdd" (click)="findByIdProduct(obj.id)"><i-->
<!--                class="fa-solid fa-basket-shopping" style="margin-right: 5px ;"></i>Thêm vào giỏ hàng-->
<!--              </button>-->
              <br>
            </div>
            <div class="rem" *ngIf="userId == obj.user.id"
                 style="margin-left: 130px;margin-top: 50px">
              <button type="button" class="btn button-edit" data-toggle="modal" data-target="#exampleModalEdit" [routerLink]="['/edit-product',obj.id]" ><i
                class="fa-solid fa-pen-to-square" style="margin-right: 5px"></i>Sửa</button>
              <button class="btn button-delete"  style="margin-left: 10px" (click)="deleteProduct(obj.id)"><i class="fa-solid fa-trash-can"
                                                                                   style="margin-right: 5px"></i>Xóa
              </button>
            </div>
            <br>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-8 agileinfo_single_right" style="">
      <div class="row">
        <div class="snipcart-thumb agileinfo_single_right_snipcart">
          <p style="font-size: 30px; margin-bottom: 10px"><b>{{obj.name}}</b></p>
          <h2 class="m-sing" style="color: red; font-size: 20px">Giá: {{ obj.price.toLocaleString('vi-VN') }}đ/tháng </h2>
        </div>

        <div class="" style="">
          <h4 style="margin-bottom: 12px;"><i class="fa-solid fa-store" style="margin-right: 1px"></i>
            Người đăng:
            <span style="font-weight: 400; font-size: 18px">{{obj.user.name}}</span></h4>
          <h4 style="margin-bottom: 12px;"><span style="margin-right: 8px;"><i class="fa-solid fa-phone"></i></span>Số điện thoại:
            <span  style="font-weight: 400; font-size: 18px">
              {{obj.user.phone}}
            </span></h4>
          <h4 style="margin-bottom: 6px;"><i class="fa-solid fa-newspaper" style="margin-right: 8px"></i>Mô tả sản
            phẩm
            :
          </h4 ><p style="overflow: auto; margin-top: 12px">{{obj.description}}</p>
          <h4 style="margin-top: 20px;"><i style="margin-right: 8px;" class="fa-solid fa-location-dot"></i>Địa chỉ:
            <span style="font-weight: 400; font-size: 18px">{{obj.address}}</span>
          </h4 >

        </div>
      </div>

      <div class="row">
        <div style="margin-top: 100px;border: 1px solid #ffffff; border-radius: 5px;width: 775px;">
          <hr>
          <div class="container mt-6 mb-6" style="width: 775px; overflow: auto; height: 300px">
            <br>
            <div class="d-flex justify-content-center row" style="width: 755px">
              <div>
                <div class="d-flex flex-column col-md-8" *ngFor="let item of listComment" style="margin-top: -30px">
                  <div
                    class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                    <div
                      class="commented-section" style="width: 770px">
                      <hr>
                      <div class="d-flex flex-row align-items-center commented-user" style=" margin-top: -10px">
                        <label class="mr-2">
                          <i class="fa-solid fa-user"
                             style="margin-right: 5px;"></i>{{item.user.name}}
                        </label></div>
                      <div style="width: 735px" class="comment-text-sm"><pre
                        style=" word-wrap:break-word; margin-left: 10px; "><i> {{item.description}} </i></pre>
                      </div>
                      <div
                        class="reply-section">

                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container mt-6 mb-6">
            <div class="d-flex justify-content-center row">
              <div class="d-flex flex-column col-md-8">
                <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                </div>
                <div class="coment-bottom bg-white p-2 px-4">
                  <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                    <form [formGroup]="commentForm" (ngSubmit)="submit()" style="width: 775px">
                      <textarea class="form-control" rows="5" formControlName="description"
                                style="width: 775px;height: 80px;padding: 10px;margin: -12px"
                                placeholder="Thêm bình luận"></textarea>

                      <button class="btn button-edit" type="submit"
                              style="margin-bottom: 5px; margin-top: 15px; margin-left: -14px; background: #fe9126">
                        Bình
                        luận
                      </button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>

</div>

<app-footer></app-footer>


<div class="modal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center">Sửa Sản Phẩm</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addCartForm" (submit)="addToShoppingCart(product, shop)">
          <label style="margin-left: 20%">Số Lượng Sản Phẩm:</label>
          <input type='text' formControlName="quantity" class="form-control"
                 style="width: 500px; height: 35px;margin-left: 20%"><br>
          <div class="modal-footer">
            <button type="submit" style="margin-right: 375px" class="btn button-edit">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
