.button-add{
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin: -10px;
  outline: none;
  padding: 11px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
.button-add:hover {
  color: #fe9126;
  background-color: #ffffff;
  transform: translateY(-2px);
}
