<app-header></app-header>
<app-navbar></app-navbar>

<div class="checkout">

  <div class="container" style="width: 80%">
    <div class="top-brands1">
      <h2 style=" margin-top: 20px;font-size: 40px">Bài Đăng Của Tôi</h2>
    </div>
    <div style="margin-bottom: 50px">
      <button class="button-add" role="button" data-toggle="modal" data-target="#exampleModalCreateProduct"
              [routerLink]="['/create-product/']"><i class="fa-solid fa-plus" style="margin-right: 5px"></i> Thêm bài đăng
      </button>
    </div>


    <div style="">
      <table class="timetable_sub" style="border:2px solid #CDCDCD;border-radius: 10px">
        <thead>
        <tr>
          <th style="font-size: large">STT</th>
          <th style="font-size: large">Ảnh</th>
          <th style="font-size: large">Địa chỉ</th>
          <th style="font-size: large;width: 420px">Tên </th>
          <th style="font-size: large">Giá (VNĐ)</th>
          <th style="font-size: large">Chức Năng</th>
        </tr>
        </thead>
        <ng-template [ngIf]="products.length != 0" [ngIfElse]="NULL">
        <tr class="rem1"
            *ngFor="let product of products|paginate: { itemsPerPage: 12, currentPage: p, totalItems: total },index as i">
          <td class="invert">{{i + 1}}</td>
          <td style="width: 200px" class="invert-image"><a [routerLink]="['/product-detail', product.id]">
            <img
              src="{{product.image[0].image}}"
              style="border:1px solid white; height:212px;width:242px;border-radius: 5px"
            /></a>
          </td>
          <td class="invert">
            <div class="address">
              <div class="address-select">
                <div style="font-size: medium;">{{product.address}}</div>

              </div>
            </div>
          </td>
          <td class="invert" style="font-size: medium">{{product.name}}</td>

          <td class="invert" style="font-size: medium">{{product.price.toLocaleString('vi-VN')}}</td>
          <td class="invert">
            <div *ngIf="product.quantity==0">
              <div class="rem">
                <button type="button" class="btn button-edit" style="width: 90px;font-size: small"
                >Unaccept
                </button>
              </div>
            </div>
            <div *ngIf="product.quantity==1">
              <div class="rem">
                <button type="button" class="btn button-edit" style="width: 90px;font-size: small"
                >Public
                </button>
                <button type="button" class="btn button-edit" style="width: 90px;font-size: small"
                        data-toggle="modal" data-target="#exampleModalEditProductMyShop"
                        [routerLink]="['/edit-product-my-shop',product.id]"><i class="fa-solid fa-pen-to-square"
                                                                               style="margin-right: 5px"></i> Sửa
                </button>
                <button class="btn button-delete" (click)="deleteProduct(product.id)"
                        style="font-size: small;width: 90px"><i class="fa-solid fa-trash-can" style="margin-right: 5px"></i>Xóa
                </button>
              </div>
            </div>
            <div *ngIf="product.quantity==2">
              <div class="rem">
                <button type="button" class="btn button-edit" style="width: 90px;font-size: small"
                >Private
                </button>
                <button type="button" class="btn button-edit" style="width: 90px;font-size: small"
                        data-toggle="modal" data-target="#exampleModalEditProductMyShop"
                        [routerLink]="['/edit-product-my-shop',product.id]"><i class="fa-solid fa-pen-to-square"
                                                                               style="margin-right: 5px"></i> Sửa
                </button>
                <button class="btn button-delete" (click)="deleteProduct(product.id)"
                        style="font-size: small;width: 90px"><i class="fa-solid fa-trash-can" style="margin-right: 5px"></i>Xóa
                </button>
              </div>
            </div>
          </td>
        </tr>
        </ng-template>
        <ng-template #NULL>
          <tr>
            <td colspan="6" style="text-align: center; color: red"><i style="font-size: 25px;">Không có sản phẩm trong cửa hàng!</i></td>
          </tr>
        </ng-template>
      </table>
      <nav class="numbering">
        <ul class="pagination paging">
          <pagination-controls
            previousLabel="Trước"
            nextLabel="Sau"
            (pageChange)="pageChangeEvent($event)"></pagination-controls>
        </ul>
      </nav>
    </div>
  </div>
</div>
<app-footer></app-footer>
