<app-detail-product></app-detail-product>
<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center">Sửa Sản Phẩm</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (submit)="save()">
          <input type="hidden" formControlName="id">
          <label style="margin-left: 20%">Tên Sản Phẩm:</label>
          <input type='text' formControlName="name"  class="form-control"  style="width: 500px; height: 35px;margin-left: 20%"><br>
          <label style="margin-left: 20%">Nội Dung:</label>
          <textarea class="form-control" rows="5" formControlName="description"
                    style=" width: 500px;margin-left: 20%" placeholder="Nhập mô tả sản phẩm"></textarea>
          <label style="margin-left: 20%">Số Lượng Sản Phẩm:</label>
          <input type='text' formControlName="quantity" class="form-control" style="width: 500px; height: 35px;margin-left: 20%"><br>
          <label style="margin-left: 20%">Giá Sản Phẩm:</label>
          <input type='text' formControlName="price" class="form-control" style="width: 500px; height: 35px;margin-left: 20%"><br>
          <label style="margin-left: 20%">Loại Sản Phẩm:</label>
          <select formControlName="categoryId" class="form-control" style="width: 500px; height: 35px;margin-left: 20%">
            <option *ngFor="let category of listCategory" value="{{category.id}}">
              {{category.name}}
            </option>
          </select>
          <br>
          <div class="modal-footer" >
            <button type="submit" style="margin-right: 375px"  class="btn button-edit">Sửa</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
