<app-header></app-header>
<app-navbar></app-navbar>
<br>

<!-- //breadcrumbs -->
<!---728x90--->
<!--- household --->
<div class="products">
  <div class="container" style="width: 80%">
    <div class="col-md-3 products-left">
      <div class="categories" style="border:1px solid #fe9126;border-radius: 5px ">
        <br>
        <br>
        <h3 style="font-size: 25px; text-align: center;margin-bottom: -20px">Tìm Kiếm</h3>
        <ul class="cate">
          <div class="search-hotel">

            <form action="#" [formGroup]="product" (ngSubmit)="searchByAll()" style="margin-left: 25px">
              <h4 class="agileits-sear-head" style=";margin-bottom: 5px">Tên</h4>
              <input style="border-radius: 5px;border: 1px solid #fe9126" type="search" placeholder="Nhập tên sản phẩm"
                     formControlName="name" name="search" required="">
              <h4 class="agileits-sear-head" style="margin-top: 15px;margin-bottom: 5px"> Địa chỉ</h4>

              <input style="border-radius: 5px;border: 1px solid #fe9126" type="search"
                     placeholder="Nhập địa chỉ" formControlName="address" name="search"
                     required="">
              <h4 class="agileits-sear-head" style="margin-top: 15px;margin-bottom: 5px"> Mô Tả</h4>

              <input style="border-radius: 5px;border: 1px solid #fe9126" type="search"
                     placeholder="Nhập mô tả " formControlName="description" name="search"
                     required="">
              <h4 class="agileits-sear-head" style="margin-top: 15px;margin-bottom: 5px">Khoảng Giá</h4>
              <input style="border-radius: 5px;border: 1px solid #fe9126;margin-bottom: 5px" type="search" formControlName="from"
                     placeholder="Nhập giá từ ..." name="search" required="">
              <input style="border-radius: 5px;border: 1px solid #fe9126;margin-bottom: 15px" type="search" formControlName="to"
                     placeholder="đến khoảng..." name="search" required="" >

              <button style="" type="submit" class="button-search">Tìm Kiếm<i class="fa-solid fa-magnifying-glass"
                                                                              style="margin-left: 5px"></i></button>
            </form>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-md-9 products-right" style="margin-bottom: 100px; border:1px solid #fe9126;border-radius: 5px">
      <div class="products-right-grid" style="margin-top: 20px; margin-left: 320px">
        <div class="products-right-grids">
          <div class="sorting">
<!--            <select #sort (change)="sortByAll(sort.value)"-->
<!--                    style="width: 78% ;height: 34px;border-radius: 5px;border: 1px solid black">-->
<!--              <option value="1"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Số Lượng</option>-->
<!--              <option value="0"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Tên</option>-->
<!--              <option value="2"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Giá</option>-->

<!--            </select>-->
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="agile_top_brands_grids" style="margin-top: 10px;border-radius: 5px" >
        <div class="col-md-12 top_brand_left"
             *ngFor="let product of productByCate|paginate: { itemsPerPage: 8, currentPage: p, totalItems: total }, index as i">
<!--          <div class="hover14 column" style="width: 240px;height: 380px;border: 1px solid grey;border-radius: 5px">-->
<!--            <div>-->
<!--              <div class="agile_top_brand_left_grid"-->
<!--                   style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 0">-->
<!--                <figure>-->
<!--                  <div class="snipcart-item block">-->
<!--                    <div class="snipcart-thumb">-->
<!--                      <a [routerLink]="['/product-detail',product.id]"><img-->
<!--                        src="{{product.image[0].image}}"-->
<!--                        class="img-responsive"/></a>-->
<!--                      <p><a href="#" [routerLink]="['/product-detail',product.id]"-->
<!--                            class="show-product" style="margin-left: 8px;">{{product.name}}</a></p>-->
<!--                      <h4 style="font-size: 22px; margin-top: 5px; text-align: center;color: #fe9126">{{ product.price | currency:' VNĐ ':'symbol':'3.0'}}-->
<!--                      </h4>-->
<!--                      <p><a href="#" [routerLink]="['/product-detail',product.id]"-->
<!--                            class="show-product" style="margin-left: 8px;">{{product.address}}</a></p>-->
<!--                    </div>-->
<!--                    <div class="snipcart-details top_brand_home_details" *ngIf="userId != product.user.id">-->
<!--&lt;!&ndash;                      <button class="btn button-edit button-shop-list-all" style="font-size: 16px;margin-right: 20px;height: 20px" data-toggle="modal" data-target="#exampleModalAdd" (click)="findByIdProduct(product.id)">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="fa-solid fa-basket-shopping" style="margin-right: 5px">&ndash;&gt;-->
<!--&lt;!&ndash;                        </i>Thêm Vào Giỏ Hàng&ndash;&gt;-->
<!--&lt;!&ndash;                      </button>&ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </figure>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div>
            <div style="margin-top: 30px" class="card">
              <div class="card-body">
                <div style="
                       display: flex;
                       gap: 20px;"
                >
                  <div >
                    <a href="#" [routerLink]="['/product-detail',product.id]">
                      <img style="width: 200px" src="{{product.image[0].image}}" alt="img">
                    </a>
                  </div>
                  <div style="display: flex; flex-direction: column; gap: 8px">
                    <a href="#" [routerLink]="['/product-detail',product.id]">
                      <h4 style="
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
                             -webkit-box-orient: vertical;
                              color: #000"
                      >{{product.name}}</h4>
                    </a>
                    <p style="font-weight: 600; color: red; font-size: 16px">{{ product.price.toLocaleString('vi-VN')}} đ/ tháng</p>
                    <p> <span><i class="fa-solid fa-location-dot"></i></span> {{product.address}}</p>
                    <p
                      style="
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
                            -webkit-box-orient: vertical;
                            font-size: 14px;"
                    >{{ product.description}}</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <nav class="numbering">
        <ul class="pagination paging">
          <pagination-controls
            previousLabel="Trước"
            nextLabel="Sau"
            (pageChange)="pageChangeEvent($event)"></pagination-controls>
        </ul>
      </nav>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<app-footer></app-footer>

<div class="modal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center">Sửa Sản Phẩm</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addCartForm" (submit)="addToShoppingCart(productCate)">
          <label style="margin-left: 20%">Số Lượng Sản Phẩm:</label>
          <input type='text' formControlName="quantity" class="form-control"
                 style="width: 500px; height: 35px;margin-left: 20%"><br>
          <div class="modal-footer">
            <button type="submit" style="margin-right: 375px" class="btn button-edit">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
