<app-header></app-header>
<app-navbar></app-navbar>


<div class="login">
  <div class="container">

    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s" style="border-radius: 10px">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>Đăng nhập</h2>
        <br>
        <br>

        <div style="margin-left: 55px">
          <label for="email" style="margin-bottom:8px ">Tên Đăng Nhập</label>
          <input type="text" class="form-control" id="email" formControlName="username" class="form-control"
                placeholder="Nhập Tài Khoản" style="width: 417px;height: 42px;">
          <div
            *ngIf="!loginForm.controls.username?.valid && (loginForm.controls.username?.dirty || loginForm.controls.username?.touched)">
            <div *ngIf="loginForm.controls.username?.errors?.['required']">
              <div style="color: red; float: left ">Tên tài khoản không được bỏ trống</div>
            </div>
            <div *ngIf="loginForm.controls.username?.errors?.['pattern']">
              <div style="color: red; float: left ">Tên tài khoản sai định dạng</div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="password">Mật Khẩu</label>
            <input type="password" class="form-control" id="password" formControlName="password" class="form-control"
                  placeholder="Nhập Mật Khẩu" style="width: 417px;height: 42px;">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
              <div style="color: red" *ngIf="password?.errors?.['required']">
                <div> Mật khẩu không được bỏ trống</div>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" value="Đăng nhập" class="form-control"
               style="width: 40%;height: 42px;position: relative;left: 30%;background-color: #fe9126">
        <br>
        <h4>Dành cho người mới</h4>
        <p><a routerLink="/register">Đăng kí tại đây</a> hoặc trở lại <a (click)="goHome()" routerLink="/">Trang
          chủ<span
            class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
      </form>

    </div>
  </div>
  <br>
</div>
<app-footer></app-footer>
