<div class="skdslider">
  <ul id="demo1" class="slides">
    <li>
      <img src="assets/images/11.jpg" alt="" />
      <!--Slider Description example-->
      <div class="slide-desc">
        <h3>các khóa học cải thiện sức khỏe đều có ở Umbrella</h3>
      </div>
    </li>
    <li>
      <img src="assets/images/22.jpg" alt="" />
      <div class="slide-desc">
        <h3>các khóa học của chúng tôi sẽ thay đổi lối sống của bạn trở nên lành mạnh</h3>
      </div>
    </li>

    <li>
      <img src="assets/images/44.jpg" alt="" />
      <div class="slide-desc">
        <h3>sự hài lòng của khách hàng là thành công của chúng tôi</h3>
      </div>
    </li>
  </ul>
</div>
