<div class="skdslider">
  <ul id="demo1" class="slides">
    <li>
      <img src="assets/images/properties-1.jpg" alt="" />
      <!--Slider Description example-->
      <div class="slide-desc">
        <h3 style="color: #0D1326">tổng hợp nhà đất cho thuê khu vực hà nội</h3>
      </div>
    </li>
    <li>
      <img src="assets/images/properties-2.jpg" alt="" />
      <div class="slide-desc">
        <h3 style="color: #0D1326">Cung cấp căn hộ vị trí đẹp cho công việc, học tập và cuộc sống trở nên thuận lợi hơn</h3>
      </div>
    </li>

    <li>
      <img src="assets/images/properties-3.jpg" alt="" />
      <div class="slide-desc">
        <h3 style="color: #0D1326">dịch vụ chuyên nghiệp, thông tin chính xác, lựa chọn tuyệt vời</h3>
      </div>
    </li>
  </ul>
</div>
