<app-header></app-header>
<app-navbar></app-navbar>

<!-- register -->
<div class="register">
  <div class="container">

    <div class="login-form-grids" style="border-radius: 10px">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h2>Đăng ký tài khoản</h2>
        <div style="margin-top: 60px;margin-left: 55px">
          <h5>Thông tin người dùng</h5>
          <input type="text" placeholder="Họ và tên" formControlName="name" class="form-control"
                 style="width: 417px;height: 42px;">
          <div class="error-page" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            <div style="color: red" *ngIf="name?.errors?.['required']">
              <p>Tên không được để trống</p>
            </div>
          </div>
          <input type="number" placeholder="Số điện thoại" formControlName="phone" class="form-control"
                 style="width: 417px;height: 42px;">
          <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
            <div style="color: red" *ngIf="phone?.errors?.['required']">
              <div>Số điện thoại không được bỏ trống</div>
            </div>
            <div style="color: red" *ngIf="phone?.errors?.['pattern']">
              <div>Số điện thoại không đúng định dạng</div>
            </div>
          </div>

          <input type="text" placeholder="Địa chỉ" formControlName="address" class="form-control"
                 style="width: 417px;height: 42px;  margin-top: 3%">
          <div class="error-page" *ngIf="address?.invalid && (address?.dirty || address?.touched)">
            <div style="color: red" *ngIf="address?.errors?.['required']">
              <p>Địa chỉ không được để trống</p>
            </div>
          </div>

          <input type="email" class="form-control" placeholder="Nhập email" formControlName="email" class="form-control"
                 style="width: 417px;height: 42px; margin-top: 3%">
          <div style="display: none;color: red" id="check-email">
            <div>Email đã tồn tại</div>
          </div>
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div style="color: red" *ngIf="email?.errors?.['required']">
              <div>Email không được bỏ trống</div>
            </div>
            <div style="color: red" *ngIf="email?.errors?.['email']">
              <div>Email nhập không dúng định dạng</div>
            </div>
          </div>

          <h6>Thông tin đăng nhập</h6>
          <input type="text" placeholder="Tên đăng nhập" formControlName="username" class="form-control"
                 style="width: 417px;height: 42px;">
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
            <div style="color: red" *ngIf="username?.errors?.['required']">
              <div>Tên tài khoản không được bỏ trống</div>
            </div>
            <div style="color: red" *ngIf="username?.errors?.['minlength']">
              <div>Tên tài khoản phải ít nhất 6 kí tự</div>
            </div>
            <div style="color: red" *ngIf="username?.errors?.['maxlength']">
              <div>Tên tài khoản tối đa 32 kí tự</div>
            </div>
          </div>
          <div style="display: none;color: red" id="check-username">
            <div>Tài khoản đã tồn tại</div>
          </div>
          <input type="password" placeholder="Mật khẩu" formControlName="password" class="form-control"
                 style="width: 417px;height: 42px;">
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div style="color: red" *ngIf="password?.errors?.['required']">
              <div> Mật khẩu không được bỏ trống</div>
            </div>
            <div style="color: red" *ngIf="password?.errors?.['minlength']">
              <div> Mật khẩu phải có ít nhất 6 kí tự</div>
            </div>
            <div style="color: red" *ngIf="password?.errors?.['maxlength']">
              <div>Mật khẩu tối đa 32 kí tự</div>
            </div>
          </div>
          <input type="password" placeholder="Nhập lại mật khẩu" formControlName="confirmPassword" class="form-control"
                 style="width: 417px;height: 42px;">
          <div style="display: none;color: red" id="abc">
            <div>Mật khẩu nhập lại không đúng</div>
          </div>
          <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
            <div style="color: red" *ngIf="confirmPassword?.errors?.['required']">
              <div>Xác nhận mật khẩu không được bỏ trống</div>
            </div>
            <div style="color: red" *ngIf="confirmPassword?.errors?.['minlength']">
              <div>Xác nhận mật khẩu phải có ít nhất 6 kí tự</div>
            </div>
            <div style="color: red" *ngIf="confirmPassword?.errors?.['maxlength']">
              <div>Xác nhận mật khẩu tối đa 32 kí tự</div>
            </div>
          </div>
        </div>
        <input type="submit" value="Đăng ký" class="form-control"
               style="width: 40%;height: 42px;position: relative;left: 30%;background-color: #fe9126">
      </form>
    </div>

  </div>
</div>

<app-footer></app-footer>

