<app-list-product></app-list-product>
<div class="modal fade" id="exampleModalEditProductMyShop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center">Sửa </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 20px">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editProductMyShopForm" (submit)="save()">
          <input type="hidden" formControlName="id">
          <label style="margin-left: 20%">Tên :</label>
          <input type='text' formControlName="name"  class="form-control"  style="width: 500px; height: 35px;margin-left: 20%"><br>
          <label style="margin-left: 20%">Mô Tả :</label>
          <textarea  rows="6" type='text' formControlName="description" class="form-control" style="width: 500px;margin-left: 20%"></textarea><br>
          <label style="margin-left: 20%">Địa chỉ:</label>
          <input type='text' formControlName="address" class="form-control" style="width: 500px; height: 35px;margin-left: 20%"><br>
          <label style="margin-left: 20%">Giá (VND):</label>
          <input type='text' formControlName="price" class="form-control" style="width: 500px; height: 35px;margin-left: 20%"><br>
          <label style="margin-left: 20%">Trạng thái :</label>
          <select formControlName="quantity" class="form-control" style="width: 500px; height: 35px;margin-left: 20%">
            <option  value="1">Public
            </option>
            <option  value="2">Private
            </option>
          </select><br>
          <label style="margin-left: 20%">Loại :</label>
          <select formControlName="categoryId" class="form-control" style="width: 500px; height: 35px;margin-left: 20%">
            <option *ngFor="let category of listCategory" value="{{category.id}}">
              {{category.name}}
            </option>
          </select>
          <br>
          <div class="modal-footer" >
            <button type="submit" style="margin-right: 375px"  class="btn button-edit"><i class="fa-solid fa-pen-to-square"
                                                                                          style="margin-right: 5px"></i>Sửa</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
