<app-admin-header></app-admin-header>
<app-admin-navbar></app-admin-navbar>
<div class="checkout">
  <div class="container" style="width: 80%">
    <div style="">
      <table class="timetable_sub" style="border:2px solid #CDCDCD;border-radius: 10px">
        <thead>
        <tr>
          <th style="font-size: large">Quận</th>
          <th>Số lượng bài đăng</th>
        </tr>
        </thead>
        <tr>
          <td >
            <div style="font-size: medium;">Cầu Giấy</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[0]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Hoàng Mai</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[1]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Hoàn Kiếm</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[2]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Thanh Xuân</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[11]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Hà Đông</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[7]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Bắc Từ Liêm</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[3]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Hai Bà Trưng</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[4]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Tây Hồ</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[5]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Nam Từ Liêm</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[6]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Ba Đình</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[8]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Đống Đa</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[9]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Long Biên</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[10]}}</div>
            </div>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>

