<app-header></app-header>
<app-navbar></app-navbar>

<div class="checkout">
  <div class="container" style="width: 80%">
    <div class="top-brands1">
      <h2 style=" margin-top: 20px;font-size: 40px">Danh Sách Đơn Đặt Hàng</h2>
    </div>
    <div style="">
      <table class="timetable_sub" style="border:2px solid #CDCDCD;border-radius: 10px">
        <thead>
        <tr>
          <th style="font-size: large">STT</th>
          <th style="font-size: large">Hóa đơn</th>
          <th style="font-size: large;width: 410px">Tên sản phẩm</th>
          <th style="font-size: large;width: 300px">Trạng thái đơn</th>
          <th style="font-size: large;width: 350px">Chức Năng</th>
        </tr>
        </thead>
        <ng-template [ngIf]="carts.length != 0" [ngIfElse]="NULL">
        <tr class="rem1" *ngFor="let item of carts|paginate: { itemsPerPage: 10, currentPage: p, totalItems: total },index as i">
          <td class="invert">{{i + 1}}</td>
          <td>
            <div style="font-size: medium;"><a [routerLink]="['/bill-detail']" [queryParams]="{billId: item.billId}">{{item.billId}}</a></div>
          </td>
          <td class="invert">
            <p style="font-size: medium;">{{item.product.name}} </p>
          </td>
          <td *ngIf="item.status == 1">
            <div style="font-size: 18px;margin-left: 10px;color: dodgerblue;font-weight: 600">Đang chờ xác nhận</div>
          </td>
          <td *ngIf="item.status == 2">
            <div style="font-size: 18px;margin-left: 10px;color: #259f40;font-weight: 600">Đơn hàng đã được xác nhận
            </div>
          </td>
          <td *ngIf="item.status == 3">
            <div style="font-size: 18px;margin-left: 10px;color: red;font-weight: 600">Đơn hàng bị hủy</div>
          </td>
          <td *ngIf="item.status == 1">
            <button class="button-edit-bill" style="margin-right: 10px;font-size: 13px" (click)="acceptBill(item.id, item)"><i class="fa-solid fa-check" style="margin-right: 5px"></i>Xác Nhận</button>
            <button class="button-delete-bill" style="font-size: 13px" (click)="deleteBill(item.id, item)"><i class="fa-solid fa-xmark" style="margin-right: 5px" ></i>Hủy Đơn</button>
          </td>
          <td *ngIf="item.status==2||item.status==3">
            <div></div>
          </td>
        </tr>
        </ng-template>
        <ng-template #NULL>
          <tr>
            <td colspan="5" style="text-align: center; color: red"><i style="font-size: 25px;">Không có đơn hàng nào!</i></td>
          </tr>
        </ng-template>
      </table>
    </div>
    <nav class="numbering">
      <ul class="pagination paging">
        <pagination-controls
          previousLabel="Trước"
          nextLabel="Sau"
          (pageChange)="pageChangeEvent($event)"></pagination-controls>
      </ul>
    </nav>
  </div>
</div>
<app-footer></app-footer>
