<app-header></app-header>
<app-navbar></app-navbar>

<div class="checkout">
  <div class="container" style="width: 70%">
    <div class="top-brands1">
      <h2 style=" margin-top: 20px;font-size: 40px">Danh Sách Hóa Đơn</h2>
    </div>
    <div style="">
      <table class="timetable_sub" style="border:2px solid #CDCDCD;border-radius: 10px">
        <thead>
        <tr>
          <th style="font-size: large">STT</th>
          <th style="font-size: large">Hóa đơn</th>
          <th style="font-size: large">Tên cửa hàng</th>
          <th style="font-size: large">Trạng thái đơn</th>
        </tr>
        </thead>
        <ng-template [ngIf]="carts.length != 0" [ngIfElse]="NULL">
          <tr class="rem1" *ngFor="let item of carts,index as i">
            <td class="invert">{{i + 1}}</td>
            <td>
              <a [routerLink]="['/detail-bill-of-customer']" [queryParams]="{billId: item.billId}"><span
                style="font-size: medium;">{{item.billId}}</span></a>
            </td>
            <td class="invert">
              <div style="font-size: medium;">{{item.shopId.name}} </div>
            </td>
            <td>
              <div *ngIf="item.status == 0">
                <div style="font-size: 18px;color: #259f40;font-weight: 600; text-align: center">Đang chờ thanh toán
                </div>
              </div>
              <div *ngIf="item.status == 1">
                <div style="font-size: 18px;text-align: center;color: dodgerblue;font-weight: 600">Đang chờ xác nhận
                </div>
              </div>
              <div *ngIf="item.status == 2">
                <div style="font-size: 18px;text-align: center;color: #259f40;font-weight: 600">Đơn hàng đã được xác
                  nhận
                </div>
              </div>
              <div *ngIf="item.status == 3">
                <div style="font-size: 18px;text-align: center;color: red;font-weight: 600">Đơn hàng bị hủy</div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #NULL>
          <tr>
            <td colspan="4" style="text-align: center; color: red"><i style="font-size: 25px;">Không có đơn hàng nào!</i></td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

<app-footer></app-footer>
