<!-- Modal -->
<app-list-product></app-list-product>
<div class="modal fade" id="exampleModalCreateProduct" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center">Thêm Mới </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 20px">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="add()">
          <div class="row">
            <div style="margin-bottom: 20px">
              <label style="margin-left: 20%">Tên sản phẩm:</label>
              <input class="form-control" type="text" placeholder="Tên sản phẩm" formControlName="name"
                     style="width: 500px; height: 35px;margin-left: 20%">
              <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                <div style="color: red" *ngIf="name?.errors?.['required']">
                  <div style="margin-left: 170px">Tên không được bỏ trống</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 20px">
              <label style="margin-left: 20%">Nội dung :</label>
              <!--                    <input class="form-control" type="" placeholder="Mô tả sản phẩm" formControlName="description"-->
              <!--                           style="width: 500px; height: 35px ;margin-left: 20%"><br>-->
              <textarea class="form-control" rows="5" formControlName="description"
                        style=" width: 500px;margin-left: 20%" placeholder="Nhập mô tả "></textarea>
              <div *ngIf="description?.invalid && (description?.dirty || description?.touched)">
                <div style="color: red" *ngIf="description?.errors?.['required']">
                  <div style="margin-left: 170px">Nội dung không được bỏ trống</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 20px">
              <label style="margin-left: 20%">Giá (VND):</label>
              <input class="form-control" type="number" placeholder="Giá" formControlName="price"
                     style="width: 500px; height: 35px;margin-left: 20%">
              <div *ngIf="price?.invalid && (price?.dirty || price?.touched)">
                <div style="color: red" *ngIf="price?.errors?.['required']">
                  <div style="margin-left: 170px">Giá sản phẩm không được bỏ trống</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 20px">
              <label style="margin-left: 20%">Địa chỉ:</label><br>
              <input class="form-control" type="text" placeholder="Địa chỉ" formControlName="address"
                     style="width: 500px; height: 35px ;margin-left: 20%">
              <div *ngIf="address?.invalid && (address?.dirty || address?.touched)">
                <div style="color: red" *ngIf="address?.errors?.['required']">
                  <div style="margin-left: 170px">Địa chỉ không được bỏ trống</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 20px">
              <label style="margin-left: 20%">Loại Sản Phẩm:</label>
              <select formControlName="categoryId" class="form-control"
                      style="width: 500px; height: 35px;margin-left: 20%;font-size: 17px">
                <option class="form-control" style="font-size: 17px" *ngFor="let category of listCategory"
                        value="{{category.id}}">
                  {{category.name}}
                </option>
              </select>
              <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)">
                <div style="color: red" *ngIf="categoryId?.errors?.['required']">
                  <div style="margin-left: 170px">Loại sản phẩm không được bỏ trống</div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 20px">
              <label style="margin-left: 20%">Ảnh :</label>
              <input type="file" placeholder="Chọn ảnh" id="file"
                     #userPhoto
                     multiple
                     (change)="showPreview($event)"
                     formControlName="image"
                     autocomplete="off" class="custom-file-input" id="inputGroupFile01" style="margin-left: 20%">
              <div style="margin-top:10px;width:500px;overflow: auto ;height: 230px;margin-left: 180px">
                <div *ngFor="let img of images;let i = index" class="col-sm-6">
                  <img class="img-fluid" style="border:1px solid white; height:200px; width:200px"
                       (click)="deleteImg(i)" src="{{img}}" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn button-edit" style="margin-right: 375px"><i class="fa-solid fa-plus"
                                                                                         style="margin-right: 5px"></i>Thêm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
