<app-header></app-header>
<app-navbar></app-navbar>
<br>

<!-- //breadcrumbs -->
<!---728x90--->
<!--- household --->
<div class="products">
  <div class="container" style="width: 80%">
    <div class="col-md-3 products-left">
      <div class="categories" style="border:1px solid #fe9126;border-radius: 5px ">
        <br>
        <br>
        <h3 style="font-size: 25px; text-align: center;margin-bottom: -20px">Tìm Kiếm</h3>
        <ul class="cate">
          <div class="search-hotel">

            <form action="#" [formGroup]="product" (ngSubmit)="searchByAll()" style="margin-left: 25px">
              <h4 class="agileits-sear-head" style=";margin-bottom: 5px">Tên</h4>
              <input style="border-radius: 5px;border: 1px solid #fe9126" type="search" placeholder="Nhập tên sản phẩm"
                     formControlName="name" name="search" required="">
              <h4 class="agileits-sear-head" style="margin-top: 15px;margin-bottom: 5px"> Mô Tả</h4>

              <input style="border-radius: 5px;border: 1px solid #fe9126" type="search"
                     placeholder="Nhập mô tả sản phẩm" formControlName="description" name="search"
                     required="">
              <h4 class="agileits-sear-head" style="margin-top: 15px;margin-bottom: 5px">Khoảng Giá</h4>
              <input style="border-radius: 5px;border: 1px solid #fe9126;margin-bottom: 5px" type="search" formControlName="from"
                     placeholder="Nhập giá từ ..." name="search" required="">
              <input style="border-radius: 5px;border: 1px solid #fe9126;margin-bottom: 15px" type="search" formControlName="to"
                     placeholder="đến khoảng..." name="search" required="" >

              <button style="" type="submit" class="button-search">Tìm Kiếm<i class="fa-solid fa-magnifying-glass"
                                                                              style="margin-left: 5px"></i></button>
            </form>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-md-9 products-right" style="margin-bottom: 100px; border:1px solid #fe9126;border-radius: 5px">
      <div class="products-right-grid" style="margin-top: 20px; margin-left: 320px">
        <div class="products-right-grids">
          <div class="sorting">
            <select #sort (change)="sortByAll(sort.value)"
                    style="width: 78% ;height: 50%;border-radius: 5px;border: 1px solid grey">
              <option value="1"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Số Lượng</option>
              <option value="0"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Tên</option>
              <option value="2"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Giá</option>

            </select>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="agile_top_brands_grids">
        <div class="col-md-3 top_brand_left" style="width: 250px;height: auto;margin-bottom: 30px;border-radius: 5px"
             *ngFor="let product of listProduct|paginate: { itemsPerPage: 8, currentPage: p, totalItems: total }, index as i">
          <div class="hover14 column" style="width: 240px;height: 380px;border: 1px solid grey;border-radius: 5px">
            <div>
              <div class="agile_top_brand_left_grid"
                   style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 0">
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <a [routerLink]="['/product-detail',product.id]"><img
                        src="{{product.image[0].image}}"
                        class="img-responsive"/></a>
                      <p><a href="#" [routerLink]="['/product-detail',product.id]"
                            class="show-product">{{product.name}}</a></p>
                      <h4 style="font-size: 22px; margin-top: 5px; text-align: center">{{product.price}} VNĐ</h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details">
                      <button class="btn button-shop-list-all" style="font-size: 16px;margin-right: 20px;" data-toggle="modal" data-target="#exampleModalAdd" (click)="findByIdProduct(product.id)">
                        <i class="fa-solid fa-basket-shopping" style="margin-right: 5px">
                        </i>Thêm Vào Giỏ Hàng
                      </button>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <nav class="numbering">
        <ul class="pagination paging">
          <pagination-controls
            previousLabel="Trước"
            nextLabel="Sau"
            (pageChange)="pageChangeEvent($event)"></pagination-controls>
        </ul>
      </nav>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<app-footer></app-footer>

<div class="modal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 700px;margin-left: 600px">
  <div class="modal-dialog" style="width: 700px">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center;width: 100%">Số Lượng Sản Phẩm</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div>
        <form [formGroup]="addCartForm" (submit)="addToShoppingCart(productAdd, shop)">
          <br>
          <br>
          <input type='text' formControlName="quantity" class="form-control" placeholder="Nhập Số lượng sản phẩm"
                 style="width: 250px; height: 55px;margin-left: 33%"><br>
          <div class="modal-footer">
            <button type="submit" style="margin-right: 240px" class="btn button-edit">Thêm Vào Giỏ Hàng</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
