<app-admin-header></app-admin-header>
<app-admin-navbar></app-admin-navbar>
<div class="checkout">
  <div class="container" style="width: 80%">
    <div style="">
      <table class="timetable_sub" style="border:2px solid #CDCDCD;border-radius: 10px">
        <thead>
        <tr>
          <th style="font-size: large">Giá</th>
          <th>Số lượng bài đăng</th>
        </tr>
        </thead>
        <tr>
          <td >
            <div style="font-size: medium;">Dưới 3.500.000đ</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[0]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Từ 3.500.000-5.000.000đ</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[1]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Từ 5.000.000-10.000.000đ</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[2]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Từ 10.000.000-15.000.000đ</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[3]}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size: medium;">Trên 15.000.000đ</div>
          </td>
          <td>
            <div class="rem">
              <div style="font-size: medium;">{{name[4]}}</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>


